@charset "UTF-8";

/* Reset de margin e padding */
* {
margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;
font-family: 'Fraunces', serif;
}

/* Modo Claro */

html {
  --background1: #d9d9d9;
  --background2: #1F618d;
  --color1: #1B1F23;
  --color2: #f1f1f1;
  --colorh: #0D0F12;
  --color-btn: #0D3A58;

  scroll-behavior: smooth;
}

/* Modo Escuro */

html[data-theme="dark"] {
  --background1: #0D3A58;
  --background2: #1B1F23;
  --color1: #d9d9d9;
  --colorh: #f1f1f1;
  --color-btn: #85C1E9;
}

/* Configurações Gerais */

body {
  font-size: 1em;
}

a {
  text-decoration: none;
  transition: .3s;
}

.curriculoBtn {
  background-color: var(--background1);
  padding: .5rem;
  text-align: center;
  border: 2px solid var(--color-btn);
  border-radius: 5px;
}

.curriculoBtn button {
  color: var(--colorh);
  background: none;
  font-size: 1em;
  font-weight: bold;
}

.curriculoBtn:hover {
  background-color: var(--color-btn);
  font-size: 1em;
}

/* Header */

header {
  height: 50px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--background2);
}

header a {
  color: var(--color2);
}

header a:hover {
  font-size: 1.2em;
}

/* Menu */

#menu {
  display: flex;
  list-style: none;
  gap: .5rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.349);
}

#menu li:first-child {
  display: none;
}

#menu a {
  display: block;
  padding: .5rem;
  border-right: 2px solid rgba(0, 0, 0, .15);
  transition: .1s;
}

#menu .curriculoBtn {
  border: 2px solid var(--color-btn);
} 

#menu .redes {
  display: none;
}

#btn-mobile {
  display: none;
}

/* Menu Mobile */

@media (max-width: 600px) {

#menu {
  display: block;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  text-align: center;
  background: var(--background2);
  transition: .6s;
  z-index: 99;
  height: 0px;
  visibility: hidden;
  overflow-y: hidden;
}

#nav.active #menu {
  height: 100vh;
  visibility: visible;
  overflow-y: hidden;
}

#menu li:first-child {
  display: block;
}

#menu a {
  padding: 1rem 0;
  border-right: none;
  border-bottom: 2px solid rgba(0, 0, 0, .15);
  transition: .2s;
}

#menu .curriculoBtn {
  display: inline-block;
  margin-top: 1rem;
  border: 2px solid var(--color-btn);
  background: var(--background1);
  padding: .5rem;
}

#menu .curriculoBtn:hover {
  background: var(--color-btn);
  font-size: 1em;
}

#menu .redes {
  display: flex;
  justify-content: center;
}

#menu .redes .rede-icon {
  color: var(--color2);
}

#menu .redes a {
  border-bottom: 0px;
}

#menu .redes a:hover {
  font-size: 1em;
}

#menu-logo {
  background: rgba(0, 0, 0, .15);
  text-align: center;
}

#menu-logo img {
  margin-top: 50px;
  width: 40vw;
}

#btn-mobile {
  color: var(--color2);
  display: flex;
  position: fixed;
  top: 10px;
  padding: .5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  gap: .5rem;
  z-index: 100;
}

.btn-mobile-backn {
  background: none;
}

.btn-mobile-back {
  background: rgba(0, 0, 0, .5);
}

#nav.active #btn-mobile {
  background: none;
}

#hamb {
  color: var(--color2);
  display: block;
  width: 20px;
  border-top: 2px solid;
}

#hamb::after, #hamb::before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background-color: currentColor;
  margin-top: 5px;
  transition: .3s;
  position: relative;
}

#nav.active #hamb {
  border-top-color: transparent;
}

#nav.active #hamb::after {
  transform: rotate(-135deg);
  top: -7px;
}

#nav.active #hamb::before {
  transform: rotate(135deg);
}

}

/* Btn Muda Tema */

#toggle-dark {
  position: absolute;
  opacity: 0;
  width: 0px;
  height: 0px;
}

#toggle-dark:checked + #label #ball {
  transform: translateX(24px);
}

#label {
  background-color: var(--color2);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 28px;
  width: 55px;
}

#label #ball {
  background-color: var(--background2);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 4px;

  height: 24px;
  width: 24px;

  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.fa-sun {
  color: var(--background2);
  font-size: 1.4em;
}

.fa-moon {
  color: var(--background2);
  font-size: 1.4em;
}

/* Section inicio */

.section {
  padding: 1.5rem 2rem;
  text-align: left;
  text-shadow: 1px 0px rgba(0, 0, 0, 0.253);
  border-bottom: 2px solid var(--colorh);
}

#inicio {
  background: var(--background1);
  color: var(--color1);
  text-align: center;
}

#inicio #nome {
  margin: 2.5rem 0px;
}

#inicio #nome h1 {
  font-weight: 700;
  font-size: 2em;
  color: var(--colorh);
}

#inicio #nome h4 {
  margin: 1.5rem 0px;
  font-size: 1.2em;
}

#logo {
  margin: 3.5rem 0px;
}

#logo-img {
  width: 50vw;
  max-width: 300px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.redes {
  display: block;
  margin: 3.5rem 0px;
  text-align: center;
}

.redes .rede-icon {
  margin: 0px 1.5rem;
  color: var(--color-btn);
  font-size: 2.5em;
  transition: .3s;
}

.redes .rede-icon:hover {
  font-size: 3.5em;
}

/* Section Sobre */

.section-title {
  margin-bottom: 2rem;
  font-size: 1.5em;
  text-align: left;
}

#sobre {
  background: var(--background2);
  color: var(--color2);
  text-align: center;
}

#perfil {
  margin: 1rem 0px;
  width: 35vw;
  max-width: 300px;
  border-radius: 50%;
  border: 3px solid var(--color2);
}

.text {
  text-align: center;
  position: relative;
  line-height: 1.5em;
  margin: 1rem auto;
  padding: 0.5rem 0.7rem;
  max-width: 800px;
}

.text::before, .text::after {
  content: "";
  position: absolute;
  width: 35%;
  height: 30%;
  border-radius: 5px;
  border-style: solid;
}

.text::before {
  top: 0;
  left: 0;
  border-color: currentColor transparent transparent currentColor;
}

.text::after {
  bottom: 0;
  right: 0;
  border-color: transparent currentColor currentColor transparent;
}

/* Seção Habilidades */

.sub-titulo {
  width: 50vw;
  margin-top: 2rem;
  border-bottom: 2px solid currentColor;
}

#habilidades {
  background-color: var(--background1);
  color: var(--color1);
  text-align: left;
}

.skill {
  margin: 2rem auto;
  max-width: 800px;
}

.skill-content {
  display: flex;
  margin: 0.5rem 0px;
  align-items: center;
  min-height: 100px;
}

.skill-content  p {
  margin-left: 1.5rem;
}

.skill-content .h-icon {
  padding-top: 2rem;
}

.skill-content .h-icon::before {
  font-size: 3em;
}

.skill-link {
  text-decoration: underline;
  color: currentColor;
}

.skill-link:hover {
  font-weight: bold;
}

/* Projetos */

#projetos {
  background: var(--background2);
  color: var(--color2);
}

.projeto {
  margin: 2rem auto;
  max-width: 800px;
  text-align: center;
}

.projeto h3, .projeto p {
  margin-bottom: 1rem;
  text-align: left;
}

.projeto img {
  width: 80vw;
  max-width: 400px;
  border: 2px solid var(--color2);
  border-radius: 10px;
}

/* Contato */

#contato {
  background-color: var(--background1);
  color: var(--color1);
}

#contato form {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 70vw;
}

#contato label {
  margin-bottom: 0.5rem;
}

#contato input,
#contato textarea {
  font-size: 1rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid var(--color1);
  border-radius: 5px;
  resize: none;
}

#enviar {
  max-width: 20vw;
  padding: 0.5rem 1rem;
  background-color: var(--background2);
  color: var(--color2);
  cursor: pointer;
  transition: 0.3s;
}

#enviar:hover {
  background-color: var(--color-btn);
}

/* Footer */

footer {
  background-color: var(--background2);
  color: var(--color2);
  padding: 1rem;
  text-align: center;
}

footer p {
  font-size: .7em;
}