@charset "UTF-8";

/*  Cores
  --cinza-escuro: #0D0F12;
  --cinza-medio: #1B1F23;
  --cinza-claro: #D9D9D9;
  --cinza-clarissimo: #F1F1F1;
  --azul-profundo: #0D3A58;
  --azul-medio: #1F618D;
  --azul-intermediario: #4a9ae1;
  --azul-claro: #85C1E9;
 */

/* Reset de margin e padding */
* {
margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;
font-family: 'Fraunces', serif;
}

/* Modo Claro */

html {
  --background1: #d9d9d9;
  --background2: #1F618d;
  --color1: #1B1F23;
  --color2: #f1f1f1;
  --colorh: #0D0F12;
  --color-btn: #0D3A58;
}

/* Modo Escuro */

html[data-theme="dark"] {
  --background1: #0D3A58;
  --background2: #1B1F23;
  --color1: #d9d9d9;
  --colorh: #f1f1f1;
  --color-btn: #85C1E9;
}

a {
  color: var(--color2);
  text-decoration: none;
  transition: .3s;
}

a:hover {
  font-size: 1.2em;
}

/* Header */

header {
  height: 50px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--background2);
}

/* Menu */

#menu {
  display: flex;
  list-style: none;
  gap: .5rem;
}

#menu a {
  display: block;
  padding: .5rem;
}

#btn-mobile {
  display: none;
}

/* Menu Mobile */

@media (max-width: 600px) {

#menu {
  display: block;
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0px;
  background: var(--background2);
  transition: .6s;
  z-index: 1000;
  height: 0px;
  visibility: hidden;
  overflow-y: hidden;
}

#nav.active #menu {
  height: calc(100vh - 50px);
  visibility: visible;
  overflow-y: auto;
}

#menu a {
  padding: 1rem 0;
  margin: 0 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, .05);
}

#btn-mobile {
  color: var(--color2);
  display: flex;
  padding: .5rem 1rem;
  font-size: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  gap: .5rem;
}

#hamb {
  color: var(--color2);
  display: block;
  width: 20px;
  border-top: 2px solid;
}

#hamb::after, #hamb::before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background-color: currentColor;
  margin-top: 5px;
  transition: .3s;
  position: relative;
}

#nav.active #hamb {
  border-top-color: transparent;
}

#nav.active #hamb::after {
  transform: rotate(-135deg);
  top: -7px;
}

#nav.active #hamb::before {
  transform: rotate(135deg);
}

}

/* Btn Muda Tema */

#toggle-dark {
  position: absolute;
  opacity: 0;
}

#toggle-dark:checked + #label #ball {
  transform: translateX(24px);
}

#label {
  background-color: var(--color2);
  border-radius: 50px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 28px;
  width: 55px;
}

#label #ball {
  background-color: var(--background2);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 4px;

  height: 24px;
  width: 24px;

  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.fa-sun {
  color: var(--background2);
  font-size: 1.4em;
}

.fa-moon {
  color: var(--background2);
  font-size: 1.4em;
}

/* Section inicio */

#inicio {
  background: var(--background1);
  color: var(--color1);
  padding: 10px 20px;
}

#inicio #nome {
  margin: 20px 0px;
  text-align: center;
}

#inicio #nome h1 {
  font-weight: 700;
  font-size: 2em;
}

#inicio h3 {
  margin: 20px 0px;
  text-align: center;
  font-size: 1.2em;
}

#logo {
  text-align: center;
}

#logo img {
  width: 225px;
}

.redes {
  text-align: center;
}

#rede-icon {
  color: var(--color-btn);
  font-size: 2.5em;
  margin: 25px 40px;
}

.text {
  text-align: center;
  padding: 5px;
}