@media (min-width: 768px) {
    .section {
        font-size: 20px;
    }
}

@media (min-width: 1024px) {

    .section-title {
        flex: 1 0 100%;
    }
    
    /* Inicio */

    #inicio {
        text-align: left;
        display: grid;
        padding: 1.5rem 2rem;
        grid-template-rows: 35vh 45vh;
        grid-template-columns: repeat(2, 1fr);
    }
    
    #inicio #nome {
        grid-row: 1;
        grid-column: 1;
        margin-top: 2rem;
    }
    
    #logo {
        grid-row: 1 / 3;
        grid-column: 2;
        text-align: center;
        align-self: center;
    }
    
    #logo-img {
        width: 40vw;
        max-width: 500px;        
    }

    #p-fim {
        grid-row: 2;
        grid-column: 1;
        align-self: start;
        margin-right: 1rem;
    }
    
    #inicio .redes {
        grid-row: 2;
        grid-column: 1;
        align-self: center;
        margin: 0rem 0px;
    }
    
    .rede-icon {
        margin: 0px 2.5rem;
        font-size: 2em;
    }

    .rede-icon:hover {
        font-size: 2.5em;
    }

    /* Sobre */


    /* Habilidades */

    #habilidades {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .skill {
        flex: 0 0 auto;
        max-width: calc(75%/2);
    }

    .sub-titulo {
        width: 20vw;
    }

    .skill-content {
        display: grid;
        grid-template-columns: 25vw auto;
    }

    #habilidades .h-icon {
        align-self: center;
        margin-left: 1rem;
        font-size: 3em;
        grid-row: 1;
        grid-column: 2;
    }

    .skill-content p {
        align-self: start;
        margin-left: 0px;
        grid-row: 1;
        grid-column: 1;
    }

    /* Projetos */

    #projetos {
        display: flex;
        flex-wrap: wrap;
    }

    #projetos .text {
        flex: 1 0 100%;
    }

    .projeto {
        flex: 0 0 auto;
        max-width: calc(80%/2);
    }

    /* Contato */

    #contato {
        display: flex;
        flex-wrap: wrap;
    }

    .contato-info {
        flex: 0 0 auto;
        max-width: calc(80%/2);
        margin: 0rem auto;
    }

    #contato .redes {
        margin-top: 10rem;
    }
}
  